@import "./../styles.scss";

.container{
  height:100vh;
  @include mobile{
    height:auto;
    overflow-x: hidden;
  }
}

.page_wrap{
  color:white;
}

.title{
  font-family: 'Comfortaa', cursive;
  padding:20px 0;
  font-size:2.5rem;
}

.section{
  width:50vw;
  margin:auto;
  @include mobile{
    width:100%;
    margin:0
  }
}

.subtitle{
  font-family: 'Comfortaa', cursive;
  font-size:2.0rem;
}

.center{
  text-align:center;
}

.wrap_carousel {
  margin:auto;
}

.usages{
  .wrap_carousel {
    // image aspect ratio is 3 : 2
    width:80%;
    height: calc((50vw - 40px) * 0.8 / 3 * 2);
    @include mobile{
      width:90%;
      height: calc((100vw - 40px) * 0.9 / 3 * 2);
    }
  }
}

.wrap_carousel.top {
  width:50%;
  height: 350px;
  @include mobile{
    width:90%;
    height: 250px;
  }
}

.drawer{
  list-style: none;
  width:20vw;
  height:100vhh;
  overflow:hidden;
  padding: 0 0 0 32px;
}

.drawer_item{
  font-size: 1.3rem;
  line-height: 2.0rem;
  color:#005f6f;
  a:visited, a:link{
    color:currentColor;
    text-decoration:none;
  }
  a:hover{
    color:#3d94b7;
  }
}

.child_drawer{
  font-size: 1.1rem;
}

.drawer_footer{
  padding: 0 16px;
  position: absolute;
  bottom: 16px;
}

.api_name{
  margin: 8px 0;
}

.usages_item{
  @include mobile{
    width: calc(100% - 40px);
  }
}
